<template>
  <section class="container">
    <div>
      <h3>
        Nuxt.jsのタグがつけられた投稿一覧
      </h3>
      <ul>
        <li v-for="item in items" :key="item.id">
          <h4>
            <span>
              {{ item.title }}
              <small>
                <span>
                  by
                </span>
                <nuxt-link :to="`/users/${item.user.id}`">
                  {{ item.user.id }}
                </nuxt-link>
              </small>
            </span>
          </h4>
          <div>
            {{ item.body.slice(0, 130) }}.......
          </div>
          <p>
            <a :href="item.url" target="_blank">
              {{ item.url }}
            </a>
          </p>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  async asyncData({ store }) {
    if (store.getters.items.length) {
      return
    }
    await store.dispatch('fetchItems')
  },
  computed: {
    ...mapGetters(['items'])
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  padding: 16px;
}

h3 {
  margin: 16px 0;
  padding: 8px 0;
  border-bottom: 1px solid #e5e5e5;
}

li + li {
  margin: 16px 0;
}
p {
  margin: 8px 0;
}
</style>
